<div class="social-links">

    {% if site.social.facebook %}
    <a href="{{site.social.facebook}}">
        <i class="fa fa-facebook" aria-hidden="true"></i>
    </a>
    {% endif %}

    {% if site.social.instagram %}
    <a href="{{site.social.instagram}}">
        <i class="fa fa-instagram" aria-hidden="true"></i>
    </a>
    {% endif %}

    {% if site.social.pinterest %}
    <a href="{{site.social.pinterest}}">
        <i class="fa fa-pinterest" aria-hidden="true"></i>
    </a>
    {% endif %}

    {% if site.social.twitter %}
    <a href="{{site.social.twitter}}">
        <i class="fa fa-twitter" aria-hidden="true"></i>
    </a>
    {% endif %}

    {% if site.social.google_plus %}
    <a href="{{site.social.google_plus}}">
        <i class="fa fa-google-plus" aria-hidden="true"></i>
    </a>
    {% endif %}

</div>
