.highlightable {
  -webkit-transition: background-color .5s ease;
  -moz-transition: background-color .5s ease;
  -o-transition: background-color .5s ease;
  transition: background-color .5s ease;

  &.highlight {
    background-color: rgba(253, 216, 53, 0.25);
  }
}
